/reports
/src/main/resources/config.properties

# Maven
/target/
/target

# IntelliJ IDEA
/.idea/

# Vs Code
/.vscode/

# Eclipse
/.classpath
/.project

# Arquivos temporários e caches
*.log
*.tmp
*.bak
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Node.js
/node_modules/

# Arquivos de configuração específicos do usuário
/settings.xml
