<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/raphael/git/thecastapi.automation.api/src/test/java/votes/VotesTest.java">
        <classes>
            <class name="votes.VotesTest">
                <methods>

                    <include name="createUpVote"/>
                    <include name="createDownVote"/>
                    <include name="createWithoutImageIdVote"/>
                    <include name="createDifferentValueVote"/>
                    <include name="createWithoutSubIdVote"/>
                    <include name="createWithoutValueVote"/>
                    <include name="getAllVotes"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
